body {
  display: flex;
  justify-content: center;
  background-color: rgb(21, 19, 19);
}

#container {
  height: 500px;
  width: 500px;
  background-color: rgb(167, 231, 255);
  border: 2px solid rgb(22, 14, 14);
  box-shadow: 0 0 10px rgb(73, 5, 219);
  margin: 20px;
  box-sizing: border-box;
}

#inputbox {
  color: rgb(2, 1, 1);
  font-size: 25px;
  margin-left: 35px;
}

input {
  width: 400px;
  height: 25px;
  padding-left: 10px;
}

h1 {
  font-size: 35px;
  text-align: center;
  color: rgb(48, 48, 232);
}

#buttonbox {
  margin-left: 150px;
  font-size: 30px;
}

button {
  background-color: rgb(102, 255, 102);
  border: 1px solid rgb(0, 0, 0);
  height: 25px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

button {
  background-color: rgb(102, 255, 102);
  border: 1px solid rgb(0, 0, 0);
  height: 25px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

p {
  text-align: center;
  font-size: 35px;
}

@media screen and (max-width:600px) {
  #container {
    width: 400px;
  }

  input {
    width: 280px;
  }

  #buttonbox {
    margin-left: 100px;
  }
}